.shop {
    position: relative;
    .container:first-of-type {
        .row {
            justify-content: space-between;
            ul {
                width: 100%;
                @extend %flexcenter;
                align-items: flex-start;
                flex-wrap: wrap;
                margin-bottom: $padding - 20;
                li:first-of-type {
                    @extend %burger;
                }
                li {
                    margin: 0 15px 15px;
                    a {
                        @extend %a;
                    }
                }
            }
            div {
                @extend %search;
            }
        }
        hr {
            @extend %hr;
        }
    }
    .row {
        justify-content: space-evenly;
    }
    .product {
        background-color: #fefefe;
        box-shadow: 0 0 ($padding / 10) rgba(58, 44, 44, .2);
        margin-top: $padding;
        header {
            @include dim(100%, ($padding * 5));
            @extend %flexcenter;
            position: relative;
            .pic {
                @include dim(80%, 100%);
                background-color: $pink;
                position: relative;
                left: 0;
                filter: grayscale(80%) blur(3px);
                overflow: hidden;
                transition: all 1s ease-in-out;
                &:hover {
                    left: -10%;
                    z-index: 2;
                    transform: scale(1.5);
                    filter: grayscale(0) blur(0);
                    box-shadow: 0 0 ($padding / 10) $green;
                    transition: all 1s ease-in-out;
                }
                img {
                    @include dim(100%, 100%);
                }
                &::before,
                &::after {
                    content: "";
                    @include dim(500%, 30%);
                    background-color: rgba(255, 255, 255, 0.3);
                    @extend %absloutcenter;
                    top: -4%;
                    left: -500%;
                    transform: rotate( -50deg);
                    transition: all 1s ease-in-out;
                }
                &::after {
                    content: "";
                    top: 50%;
                }
                &:hover::after {
                    animation: glass 1s ease-in-out;
                    animation-delay: .5s;
                }
                &:hover::before {
                    animation: glass 1s ease-in-out;
                    animation-delay: 1s;
                }
                @keyframes glass {
                    0% {
                        left: -300%;
                    }
                    100% {
                        left: 100%;
                    }
                }
            }
            .picgreen {
                background-color: $green;
            }
            .ico {
                @include dim(20%, 100%);
                position: relative;
                >span {
                    background-color: $green;
                    @extend %absloutcenter;
                    top: 75%;
                    left: 100%;
                    z-index: 1;
                    transform: translateX(-50%);
                    color: $white;
                    text-align: center;
                    padding: ($padding - 35) ($padding /5);
                    border-radius: 50%;
                }
                .hot {
                    background-color: $pink;
                }
                .control-height {
                    height: 90%;
                }
                .row {
                    @include dim(100%, 70%);
                    @extend %flexcenter;
                    flex-direction: column;
                    justify-content: space-evenly;
                    .burger {
                        @include dim(($padding - 30), ($padding - 38));
                        @extend %flexcenter;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-end;
                        span {
                            @include dim(100%, 1px);
                            background-color: $black;
                        }
                        &::after,
                        &::before {
                            content: "";
                            @include dim(100%, 1px);
                            background-color: $black;
                        }
                        &::after {
                            @include dim(70%, 1px);
                        }
                    }
                    .compar {
                        @include dim(($padding - 30), ($padding / 5));
                        @extend %flexcenter;
                        align-items: flex-start;
                        flex-direction: column;
                        justify-content: space-between;
                        position: relative;
                        .line {
                            @include dim(100%, 1px);
                            background-color: $black;
                        }
                        &::after,
                        &::before {
                            content: "";
                            @include dim(100%, 1px);
                            background-color: $black;
                        }
                        &::after {
                            @include dim(80%, 1px);
                        }
                    }
                    .plus {
                        position: absolute;
                        top: 100%;
                        right: -30%;
                        transform: translateY(-52%);
                        font-size: $padding - 35;
                    }
                }
            }
        }
        section {
            padding: 0 $padding - 30;
            div {
                text-align: center;
                padding: $padding;
                h3 {
                    font-family: $web;
                    text-transform: capitalize;
                }
                p {
                    color: $green;
                    margin: $padding -30;
                    del {
                        color: $black;
                    }
                }
            }
            hr {
                @extend %hr;
            }
        }
        footer {
            @extend %flexcenter;
            padding: ($padding - 20) 0;
            p {
                font-weight: bold;
                text-transform: uppercase;
                margin-left: $padding - 40;
            }
        }
        .add {
            color: $green;
        }
    }
}