//colors starrt
$green: #ade1c5;
$green1: #86c5ac;
$pink: #e7a8c6;
$blueblack: #202127;
$lightblack: #343640;
$dwhite:#f1f1f1;
$black: #000;
$white: #fff;
//colors end
//fonts strat
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$alex: 'Alex Brush',
cursive;
$web: 'Titillium Web',
sans-serif;
$roboto: 'Roboto',
sans-serif;
$lato: 'Lato',
sans-serif;
//fonts end
//dimenshons start
$padding: 50px;
$list: header nav slider shop features section footer bg;
@each $element in $list {
    .#{$element} {
        padding-top: $padding;
        padding-bottom: $padding;
    }
}

@mixin dim($width,
$height) {
    @if $height==0 {
        height: fit-content;
    }
    @if $width==0 {
        width: $width;
    }
    width: $width;
    height: $height;
}

%burger {
    width: 25px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    span {
        height: 2px;
        width: 100%;
        background-color: #000;
    }
    span:last-child {
        width: 70%;
    }
}

.active {
    border-bottom: 1px solid $green;
    color: $green !important;
}

%a {
    letter-spacing: 2px;
    color: $lightblack;
    font-weight: bold;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    &::before {
        content: attr(data-fill);
        width: 0;
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        color: $green;
        overflow: hidden;
        white-space: nowrap;
        transition-duration: .5s;
    }
    &:hover::before {
        width: 100%;
        transition: all .5s ease-in-out;
    }
}

%search {
    text-transform: uppercase;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    label {
        display: flex;
        img {
            height: 20px;
            width: 20px;
            margin-right: 10px;
        }
    }
    span {
        width: fit-content;
        height: fit-content;
        position: relative;
        input {
            height: 30px;
            border: none;
            background-color: transparent;
            &:focus {
                outline: none;
                border-bottom: 1px solid $black;
            }
        }
    }
}

%hr {
    border: 1px solid #f1f1f1;
}

%absloutcenter {
    position: absolute;
    top: 50%;
    left: 50%;
}

%flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

//dimenshons end
* {
    margin: 0;
    font-family: $roboto;
    box-sizing: border-box;
    ul {
        padding: 0;
        list-style: none;
    }
    a {
        text-decoration: none;
    }
}

body {
    overflow-x: hidden;
}